* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000d7;
    color: #fff;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.header strong{
    background-color: rgb(238, 241, 12);
    color: #008000;
    border-radius: 5px;
}

.days-of-week {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.days-of-week .details {
    margin: 7px;
    text-align: center;
    width: 300px;
}
.days-of-week .details p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.days-of-week .details div .btns{
    font-size: 17px;
    width: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #f7f5f5;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    padding: 2px 3px;
    margin: 10px 0px;
    transition: all 0.5s ease-out;
}
.days-of-week .details div button:hover{
    cursor: pointer;
    background-color: #ffffffb0;
    color: #424242;
    box-shadow: 2px 3px 2px rgb(255, 255, 255);
}

.days-of-week .details table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #fff;
}
.days-of-week .details table tr th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ffffff;
    padding: 3px;

}
.days-of-week .details table tr td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ffffff;
    padding: 3px;
}

caption{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3px;
}

.btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.btn .btn-opt{
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 5px 0;
    transition: all 0.4s ease-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.btn .btn-opt:hover{
    cursor: pointer;
    background-color: #272627;
    color: #ffffff;
}

.notes{
    position: absolute;
    left: -33px;
    bottom: 65px;
}
.note{
    transform: rotate(270deg);
    background-color: #ffffff;
    color: #000;
    font-size: 20px;
    padding: 0px 15px 5px 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #000;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    transition: all 0.4s ease-out;
}
.note:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.mode-dark{
    background-color: #a5a3a3d5;
    color: #000 !important;
    border: 1px solid #000 !important;
}