@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Doodle+Shadow&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}

body{
    overflow: hidden;
    background-color: #e7e3e349;
}

.content{
    min-height: calc(100vh );
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.aside-nav{
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #85828241;
    background-image: radial-gradient(circle at 26.7% 26.7%, #fbffff 0, #e8ffff 12.5%, #d3fffe 25%, #baf8f8 37.5%, #9fedf3 50%, #82e2f0 62.5%, #65d7ee 75%, #46cdee 87.5%, #1fc3ef 100%);
}
.aside-nav .logo{
    text-align: center;
    padding: 10px;
    transition: all 1s;
}

.aside-nav .logo h1{
    margin-top: -15px;
    text-align: center;
    font-family: 'Rubik Doodle Shadow', system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .5s ease-out;
}
.aside-nav .logo h1 strong {
    color: #042a72;
}
.aside-nav .logo h1:hover{
    color: #042a72;
    cursor: pointer;
}
.aside-nav .logo span{
    font-family: 'Dancing Script', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
.aside-nav .nav{
    padding: 5px;
}
.aside-nav .nav a{
    color: #024619;
    background-color: #8fac6242;
    line-height: 2;
    text-decoration: none;
    border: 2px solid #042a72;
    padding: 4px 12px;
    margin: 7px;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
}
.aside-nav .nav a:hover{
    border: 2px solid #070707c0;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #042a72b6 100%);
    box-shadow: rgba(95, 97, 97, 0.877) 0px 5px 15px 0px;
    transform: rotate(-2deg);
    color: #000000;
    overflow: auto;
}

.notes{
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-image: radial-gradient(circle at 26.7% 26.7%, #fbffff 0, #e8ffff 12.5%, #d3fffe 25%, #baf8f8 37.5%, #9fedf3 50%, #82e2f0 62.5%, #65d7ee 75%, #46cdee 87.5%, #1fc3ef 100%);
}
.notes .header-main{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.notes .header-main .search{
    display: flex;
    justify-content: center;
}
.notes .header-main .search input{
    border: 1px solid #45B3D1;
    padding: 4px 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    background-color: #ffffff62;
    font-size: 20px;
}
.notes .header-main .search button{
    border: 1px solid #45B3D1;
    border-left: none;
    padding: 4px 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    background-color: #ffffff62;
    font-size: 20px;
}
.notes .header-main .search button:hover{
    cursor: pointer;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.notes .header-main .search button img:hover{
    transform: rotate(-90deg);
    transition: all .3s ease-out;
}
.notes .title-notas{
    font-size: 17px;
    font-family: 'Rubik Doodle Shadow', system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 7px 5px #45B3D1;
    padding: 20px 0;
}
.notes .content-notes{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.notes .content-notes .note{
    max-width: 320px;
    padding: 5px 0;
    border-right: 1px solid #1e836abe;
    border-top: 1px solid #1e836abe;
    border-bottom: 2px solid #1e836abe;
    border-left: 3px solid #1e836abe;
    border-radius: 7px;
    background-color: #3d3d3b31;
}
.notes .content-notes .note .note-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #106852f5;
    padding: 5px 0;
}
.notes .content-notes .note img{
    border-radius: 50%;
    border: 2px solid #30303069;
    padding: 3px;
}
.notes .content-notes .note p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    text-align: left;
}
.notes .content-notes .note code{
    padding: 5px;
    display: inline-block;
    text-align: left;
}
.notes .content-notes .note p strong{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #134135f5;
}
.notes .content-notes .note a{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border-left: 5px solid #000;
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 7px;
    margin: 10px 0;
    background-color: #85ffbe8f;
    background-image: linear-gradient(45deg, #85ffbe 0%, #fffb7d46 100%);
    transition: all 0.2s ease-out;
    align-self: baseline;
}
.notes .content-notes .note a:hover{
    background-color: #042a72e1;
    border-left: 5px solid #7a7a7a;
    border-bottom: 2px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
    color: #f5f2f2;
}

.footer{
    grid-column: 1/-1;
    padding: 10px;
    margin: 10px 0 0 0;
    justify-self: baseline;
    font-family: 'Courier New', Courier, monospace;
    background-color: #798f8781;
}

.footer .social a{
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

@media  only screen and (max-width: 850px){
    .content{
        min-height: calc(100vh );
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }
    .notes .content-notes .note{
        max-width: 90%;
        padding: 5px 0;
        border: 2px solid #000;
        border-radius: 5px;
    }
}
@media  only screen and (max-width: 500px){
    body{
        overflow: auto;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .aside-nav{
        background-color: #D9AFD9;
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        display: flex;
        flex-direction: column;
        border-right: 2px solid #acabac;
    }
    .notes{
        background-color: #D9AFD9;
        background-image: linear-gradient(180deg, #D9AFD9 0%, #97D9E1 100%);
        text-align: center;
    }
    .notes .content-notes .note{
        max-width: 90%;
        padding: 5px 0;
        border: 2px solid #000;
        border-radius: 5px;
    }
}

